

<% if(status!=true||user[0].block=="true"){%>
  
 
<!DOCTYPE html>
<html lang="zxx">

<head>
  <link rel="icon" type="image/png" href="/primg/logo-2.png">
    <title>Redstore</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Slot Coming Soon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Hind:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="all">

</head>
<style>
    
 html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}

* {
    box-sizing: border-box;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
    display: -webkit-flex;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

button,
input,
select {
    
    outline: none;
    font-family: 'Hind', sans-serif;
}

button,
.btn,
select {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0
}

p {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    opacity: .9;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.p-sticky {
    position: sticky;
}

.btn,
button,
.actionbg,
input,textarea {
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    -ms-border-radius:6px;
}

.btn:hover,
button:hover {
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}

/*-- wrapper start --*/
.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

.wrapper-full {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*-- //wrapper start --*/

/*-- form styling --*/
.w3lvide-content{
    width:100%;
    min-height:75vh;
    position: relative;
    z-index:0;
    display: grid;
    align-items: center;
  }
  .w3lvide-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height:100%;

  }
  video,
div video {
    z-index:1!important;
  }

.workinghny-form-grid {
    position:relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:40px;
    align-items: center;
}
.workinghny-form-grid .main-hotair{
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 40px 30px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;

}
.w3l-workinghny-form .logo {
    text-align: center;
}
.slot-w3l-comingsoon,.slot-w3content{
    text-align:left;
}
.slot-w3l-comingsoon h1 {
    font-size: 60px;
    font-weight: 700;
    color: #000000;
    margin-bottom:10px;
    line-height: 70px;
}
.slot-w3l-comingsoon h3 {
    font-family: 'Pacifico', cursive;
    font-size:40px;
    color: #000000f7;
    margin-bottom: 20px;
    line-height: 60px;
    display: inline-block;
    font-weight: 400;
}
.slot-w3l-comingsoon p{
   color: #070808;
   font-size: 22px;
}
.content-wthree h2 {
    font-size: 24px;
    font-weight: 700;
    color: #1b1c1b;
    text-align: center;
    margin-bottom: 30px;
}
.content-wthree input,.content-wthree textarea{
    outline: none;
    margin-bottom: 15px;
    font-size: 16px;
    color: #999;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f8f9fa;
    border: 1px solid #e8e9ea;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    font-family: 'Hind', sans-serif;

}
.content-wthree textarea {
    height:90px;
}
.content-wthree input:focus,textarea:focus {
    background:transparent;
    border: 1px solid #3E4144;
}
.content-wthree button {
    font-size: 18px;
    color: #010101;
    width: 100%;
    background:#3E4144;
    border: none;
    padding:14px 14px;
    font-weight: 600;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    display: inline-block;
}
.content-wthree button:hover,.w3hny-subscribe-form button.btn:hover {
    background:#3E4144;
}
p.continue {
    margin: 30px 0 20px 0;
}
.w3hny-subscribe-form{
    margin-top: 25px;
    position: relative;
    display: grid;
    grid-template-columns: 4fr 1fr;
    max-width: 500px;
    margin-right: auto;
    margin-top:40px;
}
.w3hny-subscribe-form input{
    font-size: 16px;
    color: #999;
    text-align: left;
    padding: 18px 20px;
    width: 100%;
    outline: none;
    background: #fff;
    border: 1px solid #e8e9ea;
    border-radius: 0;
    color: var(--font-color);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.w3hny-subscribe-form button.btn {
    font-size: 18px;
    color: #000000;
    background: #3E4144;
    border: none;
    padding: 18px 20px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    display: inline-block;
    border-radius:6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 25px;
    font-size: 22px;
}
.social-login {
    text-align: center;
    margin-top:30px;
}
.social-login a span.fa {
    color: #1a1b1a;
    text-align: center;
    font-size: 18px;
    margin-right: 18px;
}

.social-login a span.fa:hover {
    color: #3E4144;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}
.copyright {
    padding-top: 50px;
    position: relative;
    margin: 0 auto;
    z-index: 9;
}
.copyright p {
    text-align: center;
    font-size: 17px;
    line-height: 26px;
    color: #030202;
    opacity: 1;
}

p.copy-footer-29 a {
    color: #000000;
}

p.copy-footer-29 a:hover {
    color:#3E4144;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}


/* -- placeholder --*/


/*-- responsive design --*/
@media (max-width:1280px) {
    .slot-w3l-comingsoon h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .slot-w3l-comingsoon h3 {
        font-size: 32px;
        margin-bottom: 20px;
        line-height: 42px;
    }
}
@media (max-width:800px) {
    .workinghny-form-grid {
        top: 14%;
        margin: 0 auto;
    }
    .copyright p {
        padding:0 10px;
    }
    .workinghny-form-grid .main-hotair {
        padding: 30px;
    }
    .slot-w3l-comingsoon h1 {
        font-size: 42px;
        line-height: 52px;
    }
}
@media (max-width:769px) {
    .workinghny-form-grid {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        align-items: center;
    }
    .content-wthree textarea {
        height: 60px;
    }
    .slot-w3l-comingsoon p {
        font-size: 18px;
    }
    .w3hny-subscribe-form {
        margin-top: 20px;
    }
    .content-wthree input, .content-wthree textarea,.content-wthree button,.w3hny-subscribe-form input,.w3hny-subscribe-form button.btn {
        padding: 12px 14px;
    }
    .content-wthree textarea {
        height: 55px;
    }
    .content-wthree h2 {
        margin-bottom: 20px;
    }
}
@media (max-width:640px) {
    .workinghny-form-grid {
        top: 10%;
        margin: 0 auto;
    }
    .workinghny-form-grid .main-hotair {
        padding:30px 20px;
    }
    .slot-w3l-comingsoon h1 {
        font-size:32px;
        line-height:42px;
    }
    .slot-w3l-comingsoon h3 {
        font-size: 20px;
        margin-bottom: 16px;
        line-height: 30px;
    }
    
}

@media (max-width:568px) {
  .w3lvide-content{
    min-height: 60vh;
  }
}
@media (max-width:480px) {

}

@media (max-width:384px) {
  

}

/*-- //responsive design --*/
/*-- //form styling --*/
</style>

<body style="background: radial-gradient(#fff,#ffd6d6);">
  <div style="width: 100%; height: 100px; display: flex;justify-content: center;align-items: center;">
    <div class="logo-1">
      <a href="/"  class="float-start">
        <img src="/primg/logo.png" height="50" />
      </a>
    </div>
  </div>
  <div style="background-color: #3e414400; width: 100%; height: 26px;">

  </div>
  
    <div id="block" class="w3lvide-content" data-vide-bg="images/slot" data-vide-options="position: 0% 50%">
        <div class="wrapper">
          
            <div class="workinghny-form-grid">
                <div class="slot-w3l-comingsoon">
                    <div class="slot-w3content">
                        <h3>Coming Soon!</h3>
                        <h1>Our New website <br>is on its way</h1>
                        <p class="text-5 text-light mb-3">Get notified when we launch.</p>
                        

                        
                    </div>
                </div>
                <!-- /form -->
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2 class="text-uppercase text-center mb-5 font-weight-bold text-dark">Sign In</h2>

                        <form action="/api/login" method="POST">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example3cg">Your Email</label>
                                <input type="email" id="form3Example3cg" class="form-control form-control-lg"
                                    name="email" style="background-color: #d9d9d99d;" />
                                
                            </div>
                            <%if(blocked=="true"){%>
                              <p style="color: red;">User blocked</p>
                            <%}%>
                            <%if(nouser=="true"){%>
                              <p style="color: red;">invalied email or password</p>
                            <%}%>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example4cdg">Password</label>
                                <input type="password" id="form3Example4cdg" class="form-control form-control-lg"
                                    name="password" style="background-color: #d9d9d99d;" />
                                
                            </div>

                            <div class="d-flex justify-content-center">
                                <button style="color: rgb(10, 9, 9); background-color: #00000000; border: 2px solid;" type="submit" class="btn btn-signin btn-block">Sign In</button>
                            </div>
                            <br>
                            <p class="forget-password"><a href="/forgot-password">Forget Password?</a></p>
                            <br>
                            <p style="color: #3E4144;" class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="/register"
                                    class="fw-bold text-body"><u>Register here</u></a></p>
                        </form>
                        
                    </div>

                </div>
                <!-- //form -->
            </div>
           <!-- copyright-->
           
         <!-- //copyright-->
        </div>
        
    </div>
    <br>
    <div style="background-color:#3E4144 ; color: #ffffff;" class=" text-center">
      <span style="opacity: .7; font-size: 13px; margin-bottom: 30px; margin-top: -30px; color: white;"> © 2023 Copyright:</span>
   
        <a class="text-white" href="" style="opacity: .7; font-size: 12px; color: white;">RedStore</a>
     </div>
    <!-- //form section start -->
    <!-- js -->
    <script src="js/jquery.min.js"></script>
    <!-- //js -->
    <script src="js/jquery.vide.js"></script>
    <script>
        //    $(document).ready(function () {
        //        $("#block").vide("video/ocean"); // Non declarative initialization
        //
        //        var instance = $("#block").data("vide"); // Get instance
        //        var video = instance.getVideoObject(); // Get video object
        //        instance.destroy(); // Destroy instance
        //    });
    </script>
</body>

</html>
<% }else{%>
  <!-- include footer -->
<%- include('include/_header.ejs') %>
<!-- /include footer -->
  <link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
rel="stylesheet"
/>
<style>
  /* Add your desired styles for the modal */


  .cd-1{
    height: 500px; 
  }
  .hide-scrollbar {
  /* Hide the default scrollbar */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  /* Create a custom scrollbar for Webkit browsers (Chrome, Safari) */
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Style the custom scrollbar for Webkit browsers */
.hide-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.scroll::-webkit-scrollbar{
  display: none;
}
  @media screen and (max-width: 480px) {
  .cd-1{
    height: 575px;
  }
}
</style>
<title><%=user[0].name.toUpperCase() %> Account Details</title>

<section style="background: radial-gradient(#fff,#ffd6d6); height: 123vh;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol style="font-weight: 500;" class="breadcrumb mb-0">
              Wallet
              <a href="/user-wallet"><i   class="fa-solid fa-wallet" style="color: #3E4144; font-size: 22px; margin-left: 6px;"></i></a>
              

            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h5 class="my-3"><%=user[0].name.toUpperCase() %></h5>
              <p class="text-muted mb-1"><%=user[0].email %></p>
              <br>
              <div class="d-flex justify-content-center mb-2">
                <% if(user[0].varify=="false"){%>
                <a href="/otp"><button type="button" class="btn btn-primary">Verify</button></a>
                <%}else{%>
                  <p>
                    <span style="color: green; font-size: 1.5em;">&#10003;</span>
                    <span style="color: green;">Verified</span>
                </p>
                  <%}%>
                  
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body text-center">

              <a href="/address" style="background-color: #ffdce5; /* light pink color */
                             border: 0px solid #fdfdfd; /* border color */
                             color: #000000; /* text color */
                             padding: 10px 20px; /* adjust padding as needed */
                             text-decoration: none;
                             display: inline-block;
                             width: 200px;"
   class="btn border-shadow update">
    <p style="margin: 0; /* remove default margin */">ADD Address</p>
</a>
<hr>
<a href="/userorders" style="background-color: #ffdce5; /* light pink color */
  border: 0px solid #ffffff; /* border color */
  color: #000000; /* text color */
  padding: 10px 20px; /* adjust padding as needed */
  text-decoration: none;
  display: inline-block;width: 200px;"
class="btn border-shadow update">
<p style="margin: 0; /* remove default margin */">Orders</p>
</a>
<hr>
<a href="/logout" style="background-color: #ffdce5; /* light pink color */
  border: 0px solid #ffffff; /* border color */
  color: #000000; /* text color */
  padding: 10px 20px; /* adjust padding as needed */
  text-decoration: none;
  display: inline-block;width: 200px;"
class="btn border-shadow update">
<p style="margin: 0; /* remove default margin */">LogOut</p>
</a>
<div style="height: 26px;"></div>


            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
        
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4  cd-1" >
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%=user[0].name %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%=user[0].email %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%=user[0].phone %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%=user[0].phone %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9 hide-scrollbar scroll" style="height: 200px;overflow: scroll;">
                  <%for(i=0;i<user[0].address.length;i++){%>
                  <p class="text-muted mb-0">City :<%=user[0].address[i].city %><br>State :<%=user[0].address[i].state %><br>Phone 1 :<%=user[0].address[i].line1 %><br>Phone 2:<%=user[0].address[i].line2 %><br>PIN :<%=user[0].address[i].pin %></p>
                  <td><a href="javascript:void(0);"  class="btn btn-light border px-2 pt-2 icon-hover" onclick="if(confirmDelete('<%=i%>')) window.location.href = '/api/deleteaddress?index=<%=i%>';"><i class="fas fa-trash fa-lg text-secondary px-1"></i></a></td>
                  <hr>
                 <%}%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" tabindex="-1" role="dialog" id="confirmationModal" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this address?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="proceedDelete()">OK</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>   
      

    </div>
  </section>


  <% }%>

<script>
function confirmDelete(index, id) {
    // Show the Bootstrap modal
    $('#confirmationModal').modal('show');

    // Store the index and id in data attributes of the modal
    $('#confirmationModal').data('index', index);
    $('#confirmationModal').data('id', id);
}

function proceedDelete() {
    // Get the index and id from data attributes
    var index = $('#confirmationModal').data('index');
    var id = $('#confirmationModal').data('id');

    // If the user clicks 'OK', proceed with the deletion
    window.location.href = `/api/deleteaddress?index=${index}&id=${id}`;
    
    // Hide the Bootstrap modal
    $('#confirmationModal').modal('hide');
}


</script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  